.latte__navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 6rem;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2)
  } 

.latte__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latte__navbar-links_logo {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}

.latte__navbar-links_logo img{
  width: 62px;
  height: 28px;
}

.latte__navbar-links_container{
  display: flex;
  flex-direction: row;
}

.latte__navbar-sign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.latte__navbar-links_container p,
.latte__navbar-sign p,
.latte__navbar-links_logo p,
.latte__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}